<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>line</key>
	<dict>
		<key>line_input_separator</key>
		<dict>
			<key>Color</key>
			<string>#F9F9F9</string>
		</dict>
		<key>line_input_border</key>
		<dict>
			<key>Color</key>
			<string>#E7EAEB</string>
		</dict>
		<key>line_tableview_header</key>
		<dict>
			<key>Color</key>
			<string>#F8F8FC</string>
		</dict>
		<key>line_tableview_separator</key>
		<dict>
			<key>Color</key>
			<string>#F9F9F9</string>
		</dict>
	</dict>
	<key>tabBar</key>
	<dict>
		<key>tabBar_bac</key>
		<dict>
			<key>Color</key>
			<string>#ffffff</string>
		</dict>
	</dict>
	<key>bac</key>
	<dict>
		<key>bac_kyc</key>
		<dict>
			<key>Color</key>
			<string>#F8F7FB</string>
		</dict>
		<key>bac_transfer</key>
		<dict>
			<key>Color</key>
			<string>#F8F7FB</string>
		</dict>
		<key>bac_input</key>
		<dict>
			<key>Color</key>
			<string>#F8F7FB</string>
		</dict>
		<key>bac_gray</key>
		<dict>
			<key>Color</key>
			<string>#F8F7FB</string>
		</dict>
		<key>bac_cell</key>
		<dict>
			<key>Color</key>
			<string>#ffffff</string>
		</dict>
		<key>bac_main</key>
		<dict>
			<key>Color</key>
			<string>#ffffff</string>
		</dict>
	</dict>
	<key>text</key>
	<dict>
		<key>text_gray_contract</key>
		<dict>
			<key>Color</key>
			<string>#CFD3D4</string>
		</dict>
		<key>text_placeholder2</key>
		<dict>
			<key>Color</key>
			<string>#C8C9CE</string>
		</dict>
		<key>text_gray</key>
		<dict>
			<key>Color</key>
			<string>#88959C</string>
		</dict>
		<key>text_placeholder</key>
		<dict>
			<key>Color</key>
			<string>#C1C6C8</string>
		</dict>
		<key>text_black</key>
		<dict>
			<key>Color</key>
			<string>#000000</string>
		</dict>
	</dict>
	<key>navBar</key>
	<dict>
		<key>navBar_text</key>
		<dict>
			<key>Color</key>
			<string>#000000</string>
		</dict>
		<key>navBar_default</key>
		<dict>
			<key>Color</key>
			<string>#ffffff</string>
		</dict>
	</dict>
</dict>
</plist>
