<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>line</key>
	<dict>
		<key>line_input_separator</key>
		<dict>
			<key>Color</key>
			<string>#000E23</string>
		</dict>
		<key>line_input_border</key>
		<dict>
			<key>Color</key>
			<string>#3E4B5E</string>
		</dict>
		<key>line_tableview_header</key>
		<dict>
			<key>Color</key>
			<string>#000F25</string>
		</dict>
		<key>line_tableview_separator</key>
		<dict>
			<key>Color</key>
			<string>#1A2745</string>
		</dict>
	</dict>
	<key>tabBar</key>
	<dict>
		<key>tabBar_bac</key>
		<dict>
			<key>Color</key>
			<string>#142140</string>
		</dict>
	</dict>
	<key>bac</key>
	<dict>
		<key>bac_kyc</key>
		<dict>
			<key>Color</key>
			<string>#12243F</string>
		</dict>
		<key>bac_transfer</key>
		<dict>
			<key>Color</key>
			<string>#000F25</string>
		</dict>
		<key>bac_input</key>
		<dict>
			<key>Color</key>
			<string>#12223F</string>
		</dict>
		<key>bac_gray</key>
		<dict>
			<key>Color</key>
			<string>#0C1B39</string>
		</dict>
		<key>bac_cell</key>
		<dict>
			<key>Color</key>
			<string>#0c1b39</string>
		</dict>
		<key>bac_main</key>
		<dict>
			<key>Color</key>
			<string>#000F25</string>
		</dict>
	</dict>
	<key>text</key>
	<dict>
		<key>text_gray_contract</key>
		<dict>
			<key>Color</key>
			<string>#3E5266</string>
		</dict>
		<key>text_placeholder2</key>
		<dict>
			<key>Color</key>
			<string>#3A4B5E</string>
		</dict>
		<key>text_gray</key>
		<dict>
			<key>Color</key>
			<string>#FFFFFF</string>
		</dict>
		<key>text_placeholder</key>
		<dict>
			<key>Color</key>
			<string>#9DA4B4</string>
		</dict>
		<key>text_black</key>
		<dict>
			<key>Color</key>
			<string>#ffffff</string>
		</dict>
	</dict>
	<key>navBar</key>
	<dict>
		<key>navBar_text</key>
		<dict>
			<key>Color</key>
			<string>#ffffff</string>
		</dict>
		<key>navBar_default</key>
		<dict>
			<key>Color</key>
			<string>#0C1B39</string>
		</dict>
	</dict>
</dict>
</plist>
